nav{
    background: black;
    display: flex;
    align-items: center;
    gap:10%;
    padding-left:20px;
}
nav a{
  display:inline-block;
  padding:10px;
  color: white;
  font-size:20px;
  text-decoration:none;
}
nav a:hover{
  background: green;
  color: white;
}
.menu{
    position: relative;
    display: inline-block;
}
.menu:hover .dropdown{
    display: block;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width:80px;
    height:90px;
}
ul{
  list-style-type:none;
}
ul li:hover{
  background: green;
  color: white;
}
.dropdown ul{
  margin:0;
  padding:0;
}
.dropdown ul li{
  display: block;
  color: white;
  font-size:25px;
}
.dropdown li{
  padding-top:5px;
}
h5{
  text-align:center;
  font-size:30px;
  color: #000;
}
p{
  gap:20px;
  text-align: center;
}
.box-img{
  width: 80%;
  /* background-color: black; */
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  height:auto;
  margin: 25px;
}
.box-img img{
  width:250px;
  height:200px;
  border-radius:30%;
  margin:10px;
  justify-content:space-between;
  /* gap: 20px; */
}
.box-img div{
  width: 300px;
  height:300px;
  /* background-color: #ed0808; */
}
div p{
  text-align:center;
}
footer{
  width:100%;
  height:500px;
  background:lightgray;
  text-align: center;
}
footer p{
  font-size:13px;
}
footer div{
  display:flex;
  flex-direction:column;
  text-align:left;
  padding: 10px;
  gap:10px;
}
