nav{
    background: black;
    display: flex;
    align-items: center;
}
nav a{
  display:inline-block;
  padding:10px;
  color: white;
  font-size:20px;
  text-decoration:none;
}
nav a:hover{
  background: green;
  color: white;
}
.menu{
    position: relative;
    display: inline-block;
}
.menu:hover .dropdown{
    display: block;
}

.dropdown{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width:80px;
    height:90px;
}
ul{
  list-style-type:none;
}
ul li:hover{
  background: green;
  color: white;
}
.dropdown ul{
  margin:0;
  padding:0;
}
.dropdown ul li{
  display: block;
  color: white;
  font-size:25px;
}
.dropdown li{
  padding-top:5px;
}
img{
  width:345px;
  height:150px;
}
#list-box{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:2.7px;
}
.list p{
  text-align:left;
  padding-left:20px;
  font-size:19px;
}
.list{
  width:170px;
  height:300px;
  margin-bottom:20px ;
}
.list ol li{
  line-height:2;
}
#list-box1{
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  gap:2.7px;
}
.list1 p{
  text-align:left;
  padding-left:20px;
  font-size:19px;
}
.list1{
  width:170px;
  height:280px;
  margin-bottom:20px ;
}
.list1 ol li{
  line-height:2;
}
.button{
  height:50px;
  width:350px;
  text-align:center;
}
.button button{
  width:100px;
  height:30px;
  font-size:15px;
  margin-top:10px;
}
#container{
  height:620px;
  width:350px;
  background:lightgray;
  text-align: center;
}
#container .row{
  width:350px;
  height:550px;
}
#container .row input{
  height:auto;
  width: auto;
  margin-top:10px;
}
#container .row button{
  width:150px;
  height:50px;
}
h5{
  font-size:17px;
}
.location{
    width:90%;
    height: auto;
    display:flex;
    flex-direction: column;
    justify-content: cente; 
    gap: 18px; 
    padding: 20px;
}
footer{
  width:350px;
  height:500px;
  background:lightgray;
  text-align: center;
}
footer p{
  font-size:13px;
}
footer div{
  display:flex;
  flex-direction:column;
  text-align:left;
  padding: 10px;
  gap:10px;
}