nav {
  width: 100%;
  background: black;
  gap: 10%;
  display: flex;
}

nav a {
  display: inline-block;
  padding: 20px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  background: green;
  color: white;
}

ul {
  list-style-type: none;
}

.dropdown {
  display: none;
}

a:hover .dropdown {
  display: block;
  position: absolute;
  margin-left: -4px;
  margin-top: 8px;
  background: black;
}

ul li:hover {
  background: green;
  color: white;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  display: block;
  color: white;
  font-size: 25px;
}

.dropdown li {
  padding-top: 5px;
}

div h3 {
  font-size: 30px;
}

.contact {
  width: 70%;
  height: 500px;
  background: #E8F5E9;
  text-align: center;
  margin: 0 20px 10px 250px;
}

.contact input {
  height: auto;
  width: 40%;
  box-sizing: 100px;
  font-size: 20px;
  margin-top: 20px;
}

.contact button {
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background: gold;
}

h5 {
  font-size: 17px;
}

.location {
  width: 90%;
  height: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  gap: 50px;
  padding: 20px;
  background-color: #F5F2EB;
  margin-left: 60px;
}

footer {
  width: 100%;
  height: 500px;
  background: lightgray;
  text-align: center;
}

footer p {
  font-size: 13px;
}

footer div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  gap: 10px;
}