@media screen and (max-width:930px) {
    nav {
        gap: 6%;
    }

    .contact {
        margin: 0 20px 10px 20px;
    }

    .location {
        flex-direction: column;
        margin-left: 10px;
    }
}

@media screen and (max-width:430px) {
    body {
        margin: 0;
    }

    nav {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .dropdown {
        /* display:flex;
        flex-direction: row-reverse; */
        left: 75%;
        top: 24%;
    }

    .contact {
        margin: 0 0 10px 20px;
        height: auto;
    }

    .contact button {
        margin: 25px auto;
    }

    .location {
        flex-direction: column;
        margin-left: 10px;
        width: 50%;
    }

    footer {
        width: 100vw;
    }

}