
nav {
  background: black;
  display: flex;
  align-items: center;
  gap: 10%;
}

nav a {
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

nav a:hover {
  background: green;
  color: white;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 80px;
  height: 90px;
}

ul {
  list-style-type: none;
}

ul li:hover {
  background: green;
  color: white;
}

.dropdown ul {
  margin: 0;
  padding: 0;
}

.dropdown ul li {
  display: block;
  color: white;
  font-size: 25px;
}

.dropdown li {
  padding-top: 5px;
}

img {
  width: 65%;
  height: 400px;
  margin: 20px 0 20px 170px;
}

#list-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.7px;
}

.list p {
  text-align: left;
  padding-left: 20px;
  font-size: 19px;
}

.list {
  width: 170px;
  height: 390px;
  margin-bottom: 20px;
}

.list ol li {
  line-height: 2;
}

#list-box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.7px;
}

.list1 p {
  text-align: left;
  padding-left: 20px;
  font-size: 19px;
}

.list1 {
  width: 170px;
  height: 390px;
  margin-bottom: 20px;
  /* background: pink; */
}

.list2 {
  width: 170px;
  height: 390px;
  margin-bottom: 20px;
  /* background: pink; */
}

.list1 ol li {
  line-height: 2;
}

.list2 ol li {
  line-height: 2;
}

.button {
  height: 50px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  /* background: blue; */
}

.button button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  margin-top: 10px;
}

#container {
  height: 750px;
  width: 60%;
  background: #E8F5E9;
  text-align: center;
  margin: 20px 0 20px 240px;
}

#container .row {
  width: 100%;
  height: 600px;
  /* background: pink; */
}

#container .row input {
  height: 20px;
  width: 40%;
  margin-top: 20px;
  gap: 20px;
}

#container .row button {
  width: 150px;
  height: 50px;
  /* padding-bottom: 20px; */
}

#container h4 {
  font-size: 25px;
  padding: 10px;
}

#container p {
  font-size: 20px;
  padding: 10px;
}

h5 {
  font-size: 20px;
}

.location {
  width: 90%;
  height: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: cente;
  gap: 18px;
  padding: 20px;
  margin: 30px 10px 20px 50px;
  background-color: #f9f7f5;
  ;
}

footer {
  width: 100%;
  height: 500px;
  background: lightgray;
  text-align: center;
}

footer p {
  font-size: 13px;
}

footer div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  gap: 10px;
}